body{
    background-image: url(../images/BG@1X.png);
}
.wrap{
    max-width: 1920px;
    margin: 0 auto;
}
header{
    .logo{
        width: 142px;
        margin: 27px auto 0;
    }
    h1{
        width: max-content;
        margin: 112px auto 0;
    }
    h1:first-letter{
        text-transform: capitalize;
    }
    p{
        max-width: 615px;
        margin: 12px auto;
        font-family: Tahoma,Tahoma-Bold,AdobeInvisFont,MyriadPro-Regular;
        font-size: 16px;   
    }
    .main-button{  
        width: 500px;
        margin: 26px auto 210px;     
        a.button1{
            color: #000000;
            width: 247px;
            height: 67px;
            display: inline-block;
            font-family: Tahoma-Bold,AdobeInvisFont,MyriadPro-Regular;
            font-size: 16px;
            text-align: center;
            text-decoration: none;           
            padding: 16px 0;            
            border: 1px solid black;
            border-radius: 4px;
            background: none;
        }
        a:first-letter{
            text-transform: capitalize;
        }
        a:first-child{
            background: #F4C32F;
        }
        a.button1:hover{
            border: 1px solid red;
            background: lawngreen;
        }
        a.button1:active{
            color:white;
            border: 1px solid orange;
            background: green;
        }        
    }
}
article{
    background-color: #EFEFEF;
    .wrap-main{
        max-width: 1230px;
        margin: 0 auto;
        h2{
            width: max-content;
            padding-top: 30px;
            margin: 0px auto 80px;
            font-family: Tahoma-Bold,AdobeInvisFont,MyriadPro-Regular;
            font-size: 38;
        }
        h2:first-letter{
            text-transform: capitalize;
        }        
        .midl{  
            text-align: justify;
            text-align-last:justify;
            -webkit-text-align-last:justify;
          
           
            a{
                display: inline-block;
                vertical-align: top;
                text-decoration: none;
                margin: 0px 15px 60px;
                color: black;
                figure{
                    width: 354px;
                    img{
                        margin: 0 auto 23px;
                    }
                    h4{
                        width: max-content;
                        margin: 0 auto 15px;
                        font-family: AdobeInvisFont,MyriadPro-Regular;
                        font-size: 20px;
                        text-transform: capitalize;
                    }
                    figcaption{
                        text-align-last: center;

                    }
                }
            }
            a:last-child{
                text-decoration: underline;
                display: block;
                width: max-content;
                margin: 0 auto 15px;
                color: #275FE0;
                font-size: 17px;
                padding: 15px 0 100px;
            }
            a img:hover{
                transform: scale(1.5); 
            }
        }
    }    
}
h2.down{
    width: max-content;
    margin: 100px auto 60px;
    font-size: 38px;
    font-family: Tahoma-Bold,AdobeInvisFont,MyriadPro-Regular;    
}
h2.down:first-letter{
    text-transform: capitalize;
}
section.down{

    .wrap-down{
        max-width: 1230px;
        margin: 0 auto;
        text-align: justify;

        ol.colom1{
            float: left;
            counter-reset: num;
        }
        ol.colom2{
            float: right;
        }
        ol.colom2::after{
            clear: both;
        }
        ol{
            width: 330px;
            list-style-type: none; 
            list-style-position: outside;
            
            li::before {
                content: '0'counter(num); 
                counter-increment: num; 
                color: #A8A8A8;
                font-family: Tahoma,AdobeInvisFont,MyriadPro-Regular;
                font-size: 31px;
                display: inline-block;
            }
            li{                            
                h4{
                    font-family: Tahoma-Bold,AdobeInvisFont,MyriadPro-Regular;
                    font-size: 20px;
                    display: inline-block;
                    vertical-align: top;
                    margin: 4px 0px 14px 20px;
                }
                h4::first-letter{
                    text-transform: capitalize;
                }
                p{
                    margin: 0 0 0 60px;
                    padding-bottom: 40px;
                    font-size: 15px;
                    font-family: Tahoma,AdobeInvisFont,MyriadPro-Regular;
                }
            }           
        } 
        img{
            margin: 0 auto;
        }      
    }
}
footer{
    background-color: #EFEFEF;
    text-align: center;
    p{
        display: inline-block;
        font-family: Tahoma,AdobeInvisFont,MyriadPro-Regular;
        font-size: 13px;
        color: #A1A1A1;
        vertical-align: top;
        padding-top: 60px;
    }
    img{
        display: inline-block;
        margin: 50px 100px;
    }
}